/* Fonts */
@import url("https://use.typekit.net/fje1pvs.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS below */
html,
body {
    @apply font-montserrat;
}

.transition {
    transition: all 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bg-image {
    /* background-image: url("/img/static/Phone Wallpaper.png"); */
    /* background-image: url("/img/static/Wallpaper Option 1.png"); */
    /* background-image: url("/img/static/Wallpaper Option 2.png"); */
    /* background-image: url("/img/static/Wallpaper Option 3.png"); */
    background-image: url("/img/static/Pattern.png");

    /* Comment below if it is a pattern */
    background-size: cover;
    background-position: center;
}

.text-border {
    text-shadow: -1px 0 #ed173a, 0 1px #ed173a, 1px 0 #ed173a, 0 -1px #ed173a;
}

.h-30vh {
    height: 30vh;
}
